:root {
  --background: #272a31;
  --textColor: #ec5242;
  --others: #d3d3d3;
}

@font-face {
  font-family: "COCOGOOSE";
  src: url("../fonts/Cocogoose_trial.woff") format("woff"), url("../fonts/Cocogoose_trial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* header section */

.top-nav {
  padding: 0 8rem;
  background-color: var(--background);
  text-align: right;
  font-size: 0.8rem;
}

.socials {
  margin: 0;
}

.socials li {
  display: inline-block;
  padding: 0.4rem 1rem;
}

.nav-anchor {
  text-decoration: none;
  color: var(--others);
}

.nav-anchor:hover {
  text-decoration: none;
  color: #fff;
}

.main-nav {
  padding: 0.2rem 8rem;
  margin-top: 0;
  background: #fff !important;
}

.n-a-link {
  font-size: 0.85rem;
}

.n-a-link:hover {
  color: var(--textColor) !important;
}

.my-button {
  border-width: 0.3rem;
  border-color: var(--textColor);
}

/* main section */

.top-content {
  background-color: #fff;
  background-image: url('../img/Pattern-Randomized.svg');
  background-size: cover;
  padding: 3.4rem 8rem;
}

.sub-head {
  color: var(--textColor);
}

.banner,
.date {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: bolder;
  font-size: 5rem;
}

.description {
  width: 50%;
  padding: 1rem;
  background: rgb(243, 243, 243);
  font-size: small;
  border: 2px solid;
  border-color: #fff;
}

.venue-time {
  margin-top: 2.5rem;
}

.date {
  font-size: 2rem;
  color: var(--background);
}

.venue {
  font-size: x-large;
}

.main-program {
  height: 50vh;
  background-color: #fff;
  background-image: url('../img/Diamond-Sunset.svg');
  background-size: cover;
}

.featured-speakers {
  height: 70vh;
}

/* footer section */

.partners {
  height: 40vh;
  background: var(--background);
}

.about-organization {
  height: 20vh;
}
